.searchPanel {
    background-color: var(--color-sidebar-bg);
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    padding: 8px;
    display: none;
}

.input {
    width: 100%;
    border: none;
    outline: none;
    font-size: var(--font-size);
    color: var(--color-text);
}